<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico"/>
<title>Inventário Mercadinho - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
	

</head>

<body>


	<div id="inicio" class="container-fluid table" >
		<h4>Lista de Produtos</h4>
		<table>
		  <tr>
		  	<th> ID </th>
			<th>Nome</th>
			<th>Fabricante</th>
			<th>Volume</th>
			<th>Unidade</th>
			<th>Estoque</th>
			<th></th>
			<th></th>
		  </tr>
		  <tbody id="event-table" class="table table-striped">
			<tr v-for="produto in listaProdutos">
			  <td>{{ produto.id }}</td>
			  <td>{{ produto.nome }}</td> 
			  <td>{{ produto.fabricante.nome }}</td> 
			  <td>{{ produto.volume }}</td> 
			  <td>{{ produto.unidade }}</td> 
			  <td>{{ produto.estoque }}</td>
			  <td>
			  	<a v-bind:href="'rs/produtos/update/'+produto.id"><span   @click="">&#9998;</span></a>
				<a v-bind:href="'rs/produtos/delete/'+produto.id"><span  @click="">&#10006;</span></a>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>
	
	<a href="/mercado/novo-produto.html" class="link"><button type="button" class="btn btn-outline-primary">Cadastrar Novo Produto</button></a> 		
    <a href="/mercado/novo-fabricante.html" class="link"><button type="button" class="btn btn-outline-primary">Cadastrar Novo Fabricante</button></a>		

	<h4>Atualização de produto</h4>
		

<form action="rs/produtos/atualizar" method="post">

   ID Produto:<br>
  <input type="text" name="id"><br>
   Nome Produto:<br>
  <input type="text" name="produto"><br>
  Estoque:<br>
  <input type="text" name="estoque"><br>
  Unidade:<br>
  <input type="text" name="unidade"><br>  
    Volume:<br>
  <input type="text" name="volume"><br>  
  ID Fabricante:<br>
  <input type="text" name="fabricante"><br>  
  <br>
  <button type="submit" class="btn btn-primary">Atualizar</button>
</form>
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>